<div class="template-exampleUI">
    <div class="template-exampleUI_formWrapper">

        <div class="template-exampleUI_wrapper-textArea1">
            <text-area1 [(taValue)] = "textAreaValue"/>
        </div>
        <div class="template-exampleUI_wrapper-submitButton1">
            <div class="template-exampleUI_radioGroup">

                <radio-group  [(checkedVal)]="analysisType"/>
            </div>
            <div>
                <toggle-switch [(isSwitchOn)]="isSwitchOn"/>
            </div>
            <submit-button1 [taValue] = "textAreaValue" [checkedVal]="analysisType" [isSwitchOn]="isSwitchOn" [(results)] = "resultsArr"/>
        </div>
    </div>
    <div class="template-exampleUI_wrapper-displayBlock1" >
        <display-block1 *ngFor="let result of resultsArr" [res]="result"></display-block1>
    </div>
    
</div>